body{
    width: 75%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    display: center;
}
h4{
    text-align: center;
    margin-bottom: 10px;
}
table{
    border-collapse: separate;
    border-spacing: 2.5%;
    margin:0 auto;

}
table td{
    width: 100px;
    padding: 10px;
    border: 1px #4F4F4F solid;
    text-align: center;
    background-color:#376956;
    color:white;
    border-radius: 10%;
}
table tr:first-child td{
    height: 40px;
    text-align: right;
    border-radius: 0%;
}
table tr:first-child td:hover{
    background-color:#376956;
    color:white;
}
table td:hover{
    color: #404040;
    background: white;
}
table td:active{
    background-color:#3B3B3B;
    color:#3CB371;

}